body {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/*#region ---------------------* * *------------------*/

* {
    content: none;
    padding: 0px 0px;
    margin: 0px 0px;
}

    *:before,
    *:after {
        content: none;
        padding: 0px 0px;
        margin: 0px 0px;
    }

/*#endregion ---------------------------------------*/

/*#region ---------------------* html *------------------*/



/*#endregion ---------------------------------------*/

/*#region ---------------------**------------------*/
/*#endregion ---------------------------------------*/

/*#region ---------------------**------------------*/
/*#endregion ---------------------------------------*/

/*#region ---------------------**------------------*/
/*#endregion ---------------------------------------*/

/*#region ---------------------**------------------*/
/*#endregion ---------------------------------------*/

/*#region ---------------------**------------------*/
/*#endregion ---------------------------------------*/

/*#region ---------------------**------------------*/
/*#endregion ---------------------------------------*/
